--
-- PostgreSQL database dump
--

-- Dumped from database version 17.8 (Debian 17.8-1.pgdg13+1)
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: real_trades; Type: TABLE; Schema: public; Owner: vorxia
--

CREATE TABLE public.real_trades (
    id bigint NOT NULL,
    config_id integer NOT NULL,
    symbol character varying(30) NOT NULL,
    direction character varying(5) NOT NULL,
    entry_price numeric(24,8) NOT NULL,
    exit_price numeric(24,8) NOT NULL,
    funding_rate numeric(14,6) NOT NULL,
    funding_pnl numeric(18,6) DEFAULT 0 NOT NULL,
    price_pnl numeric(18,6) DEFAULT 0 NOT NULL,
    fee_cost numeric(18,6) DEFAULT 0 NOT NULL,
    total_pnl numeric(18,6) DEFAULT 0 NOT NULL,
    total_pnl_pct numeric(14,6) DEFAULT 0 NOT NULL,
    balance_after numeric(18,6) NOT NULL,
    open_time character varying(30),
    close_time character varying(30),
    trade_timestamp bigint NOT NULL,
    exchange character varying(20) DEFAULT 'binance'::character varying NOT NULL,
    close_reason character varying(50),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    price_pnl_pct numeric(18,6) DEFAULT 0 NOT NULL,
    reconciled_at timestamp with time zone,
    CONSTRAINT real_trades_direction_check CHECK (((direction)::text = ANY ((ARRAY['LONG'::character varying, 'SHORT'::character varying])::text[]))),
    CONSTRAINT real_trades_fee_cost_check CHECK ((fee_cost >= (0)::numeric))
);


ALTER TABLE public.real_trades OWNER TO vorxia;

--
-- Name: real_trades_id_seq; Type: SEQUENCE; Schema: public; Owner: vorxia
--

CREATE SEQUENCE public.real_trades_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.real_trades_id_seq OWNER TO vorxia;

--
-- Name: real_trades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: vorxia
--

ALTER SEQUENCE public.real_trades_id_seq OWNED BY public.real_trades.id;


--
-- Name: real_trades id; Type: DEFAULT; Schema: public; Owner: vorxia
--

ALTER TABLE ONLY public.real_trades ALTER COLUMN id SET DEFAULT nextval('public.real_trades_id_seq'::regclass);


--
-- Name: real_trades real_trades_pkey; Type: CONSTRAINT; Schema: public; Owner: vorxia
--

ALTER TABLE ONLY public.real_trades
    ADD CONSTRAINT real_trades_pkey PRIMARY KEY (id);


--
-- Name: idx_real_trades_config_created; Type: INDEX; Schema: public; Owner: vorxia
--

CREATE INDEX idx_real_trades_config_created ON public.real_trades USING btree (config_id, created_at DESC);


--
-- Name: idx_real_trades_config_id; Type: INDEX; Schema: public; Owner: vorxia
--

CREATE INDEX idx_real_trades_config_id ON public.real_trades USING btree (config_id);


--
-- Name: idx_real_trades_timestamp; Type: INDEX; Schema: public; Owner: vorxia
--

CREATE INDEX idx_real_trades_timestamp ON public.real_trades USING btree (trade_timestamp DESC);


--
-- Name: real_trades real_trades_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: vorxia
--

ALTER TABLE ONLY public.real_trades
    ADD CONSTRAINT real_trades_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.real_config(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

